.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

Sources/Day**/test_input.txt
Sources/Day**/test_input*.txt
Sources/Day**/puzzle_input.txt